<?xml version="1.0" encoding="UTF-8"?>
<events>
  <event>
    <id>sophie</id>
    <img>
      <![CDATA[<img class="event-image" src="images/events/sophie.jpg"/>]]>
    </img>
    <title>Sophie, Andrea</title>
    <venue>Q Nightclub</venue>
    <ticket-link>
      <url>
        <![CDATA[http://qnightclub.com/event/customs-sophie/]]>
      </url>
    </ticket-link>
    <date>
      <year>2014</year>
      <month>November</month>
      <day>5</day>
    </date>
  </event>
  <event>
    <id>ultrademon</id>
    <img>
      <![CDATA[<img class="event-image" src="images/events/ultrademon.jpg"/>]]>
    </img>
    <title>Ultrademon, Komono</title>
    <venue>Kremwerk</venue>
    <ticket-link>
      <url>
        <![CDATA[http://kremwerk.com/event/ultrademon-komono-zenojim-graz-leukos/]]>
      </url>
    </ticket-link>
    <date>
      <year>2014</year>
      <month>January</month>
      <day>22</day>
    </date>
  </event>
  <event>
    <id>addison-groove</id>
    <img>
      <![CDATA[<img class="event-image" src="images/events/addison.jpg"/>]]>
    </img>
    <title>Addison Groove, Seimei, Korma</title>
    <venue>Chop Suey</venue>
    <ticket-link>
      <url>
        <![CDATA[http://chopsuey.com/calendar/dj-paypal-dj-earl-seimei-korma/]]>
      </url>
    </ticket-link>
    <date>
      <year>2014</year>
      <month>September</month>
      <day>14</day>
    </date>
  </event>
</events>
