/* the styles for the elements */
body.index {
	background-color: #000;
	overflow: hidden;
}
/* COVER PAGE BACKGROUND IMAGE STYLES */

.bg {
	background-image: url("../images/cover.jpg");
	background-size: cover;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	opacity: .6;
	right: 0;
	-webkit-filter: blur(8px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	display: block;
}
.mesh {
	background: url('http://content.iamdustmite.com/img/mesh48x48.png') repeat;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: non;
}

/* TEXT STYLES */

h1 {
	font-family: "futura-pt", "Helvetica-Neue", Helvetica, sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
h2 {
	font-family: "futura-pt", "Helvetica-Neue", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 140%;
	color: white;
	margin-top: 1em;
	margin-bottom: 0;
	text-align: center;
}
h3 {
	font-size: 120%;
	color: #8b0000;
	margin-top: .5em;
	margin-bottom: 0;
}
p {
	font-family: "futura-pt", "Helvetica-Neue", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 140%;
	color: white;
	text-align: left;
}

a { font-weight: bold; }
a:link { color: black; }
a:visited { color: gray; }
a:active { color: red; }

/* COVER PAGE STYLES */

.entercontainer {
	position: relative;
	height: 62px;
	width: 300px;
	margin: 350px auto 0 auto;
}
.enter, .enter:visited, .enter:active, .enter:link {
	font-family: "Helvetica-Neue", Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 6px;
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;
	background-color: black;
	padding-top: 15px;
}

.logocontainer {
	top: 4em;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 670px;
	ma
}
.logo {
	margin: 0 auto;
	width: 58em;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	margin-bottom: 30px;
}
.customs {
	max-width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
#logo{
	bottom:1.5em;
}

/* PHOTO PAGE STYLES */

.galleria {
	margin: 0 auto;
	margin-top: 1.5em;
}

/*HOMEPAGE MASONRY GALLERY STYLES*/
.grid {
  width: 60em;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer {
	width:30%;
}
.grid-item {
  width:30%;
  float: left;
  padding: 3px;
}
.grid-item--width1 {
	width: 23%;
	margin: 0 auto;
}
.grid-item--height1 {
	height: 13em;
	margin: 0 auto;
}
.mason {
	max-width: 100%
}

/* HOME PAGE STYLES */
.background {
	background-color: black;
}
.zbehind {
	z-index: -1;
}
.party {
	width: 90%;
	margin: 0 auto;
	margin-top: 2em;
}
.day {
	max-width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.intro {
	width: 85%;
	margin: 0 auto;
	padding: 20px 40px;
	margin-top: 30px;
	margin-bottom: 2em;
	border-radius: 5px;
	background-color: rgb(35,35,35);
}
.july {
	font-family: "futura-pt", "Helvetica-Neue", Helvetica, sans-serif;
	color: white;
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0;
}
#mail {
	text-decoration: none;
	color: #C01D8A;
}
.home {
	width: 85%;
}
@media screen and (min-width: 480px) {
	.intro {width: 90%;}
	.party {width: 90%;}
	.home {width: 90%;}
}

@media screen and (min-width: 768px) {
	.intro {width: 90%;}
	.party {width: 90%;}
	.home {width: 90%;}
}

@media screen and (min-width: 1024px) {
	.intro {width: 900px;}
	.party {width: 900px;}
	.home {width: 900px;}
}

/* WHAT IS CUSTOMS PAGE STYLES */

.video {
	width: 38.125em;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 1em;
}
#what {
	width: 37em;
}

/* MUSIC PAGE STYLES */
.sound {
	width: 53.125em;
	margin: 0 auto;
	margin-top: 2em;
}
.lastsound {
	margin-bottom: 2em;
}

/* CREW PAGE STYLES */
.hojo {
	max-width: 30%;
	float: left;
	padding-left: .5em;
	margin-right: 1.2em;
	display: inline;
}

.bios {
	width: 63em;
	margin-top: 2em;
	min-height: 19em;
}
.name{
	color: #51438C;
}
.biotext {

}
.dj {
	padding-left: 20.5em;
	padding-top: 1.2em;
}

/* SOCIAL ICONS STYLE */
.social {
	width: 166px;
	height: 42px;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1em;

}
.icon {
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
}

/* CALENDAR */
.cal {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.social a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.social a:hover {
	opacity: 0.6;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
